<app-header></app-header>
<app-desplegable style="position: fixed;"></app-desplegable>

<div class="title-container">
    <h1 style="text-align: center;">Productos</h1>
</div>
<div class="container  " style="margin: 3rem;">
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    <button mat-raised-button color="primary" (click)="addProduct()" style="float: right;">
        Crear pedido
    </button>
    <div class="mat-elevation-z8">
      <!-- (click)="addProduct()" -->
      <table mat-table [dataSource]="dataSource">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let vape">{{ vape.id }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let vape">{{ vape.nombre }}</td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="marca">
          <th mat-header-cell *matHeaderCellDef>Marca</th>
          <td mat-cell *matCellDef="let vape">
            {{ vape.description }}
          </td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="sabor">
          <th mat-header-cell *matHeaderCellDef>Sabor</th>
          <td mat-cell *matCellDef="let vape">${{ vape.sabor }}</td>
        </ng-container>

        <!-- Created At Column -->
        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef>Precio</th>
          <td mat-cell *matCellDef="let vape">{{ vape.precio }}</td>
        </ng-container>

        <!-- Updated At Column -->
        <ng-container matColumnDef="existencias">
          <th mat-header-cell *matHeaderCellDef>Existencias</th>
          <td mat-cell *matCellDef="let vape">{{ vape.existencias }}</td>
        </ng-container>

        <ng-container matColumnDef="desechable">
            <th mat-header-cell *matHeaderCellDef>Desechable</th>
            <td mat-cell *matCellDef="let vape">{{ vape.desechable }}</td>
          </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let vape">
            <button
              mat-icon-button
              color="primary"
              (click)="abrirFormularioActualizar(vape)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              (click)="eliminarvape(vape.id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

    </div>
  </div>